## üß† 1. Was ist Spark? Warum PySpark?

> "Alle reden √ºber Spark ‚Äî aber was l√∂st es eigentlich?"

- **Apache Spark** ist eine verteilte Datenverarbeitungs-Engine.
  - *√úbersetzt*: Anstatt dass ein Computer alles alleine macht (wie dein Laptop mit Python), verteilt Spark die Arbeit auf *viele* Rechner oder CPU-Kerne.
  - *Einsatzgebiet*: Riesige Datenmengen und Machine Learning auf Skalenniveau.

- **Warum nicht einfach Pandas oder reines Python?**
  - *Kleine Daten passen in den Arbeitsspeicher ‚Üí Pandas reicht locker.*
  - *Daten gr√∂√üer als RAM ‚Üí Pandas stirbt.*
  - *Man braucht echte Parallelisierung ‚Üí Spark.*

- **Warum PySpark?**
  - Spark ist in Scala und Java geschrieben ‚Äî aber wer will f√ºr normale Datenverarbeitung in Java rumfrickeln?
  - **PySpark** erlaubt dir, Spark mit Python zu steuern. Fast alle Vorteile, aber einfacher zu schreiben.
 
- **Wann Scala/Java doch besser ist?**
    - Wenn du maximale Performance brauchst (z. B. komplexe UDFs).
    - Bei extrem gro√üen Datasets (Python-Overhead kann sp√ºrbar werden).
    - F√ºr Spark-Interna-Entwicklung (z. B. eigene Spark-Erweiterungen).

**Ehrliche Einsch√§tzung**:  
> Nutze Spark nur, wenn du *musst* (Daten zu gro√ü, Performance wird kritisch).  
> Ansonsten: **Pandas > PySpark** bei kleinen bis mittleren Daten.

## ‚öôÔ∏è 2. Cluster Mode vs Local Mode

Stell dir vor, du hast eine schwere Datenverarbeitung.

| Modus | Was passiert | Wann verwenden | Wichtigster Punkt |
|:----|:------------|:----------------|:-----------|
| **Local Mode** | Spark l√§uft auf deinem Rechner, nutzt mehrere CPU-Kerne. | Entwicklung, Tests, kleine Datenmengen. | *Trainingsmodus.* |
| **Cluster Mode** | Spark l√§uft auf mehreren Servern (Nodes). | Produktion, Big Data. | *Echte Skalierung.* |

**Skizze:**

```plaintext
Local Mode:
+-----------------+
| Laptop          |
| [Core1][Core2]  |
| [Core3][Core4]  |
+-----------------+

Cluster Mode:
+--------------------+     +-------------------+     +-------------------+
| Worker Node 1      |     | Worker Node 2      |     | Worker Node 3      |
| [Task1][Task2]     |     | [Task3][Task4]     |     | [Task5][Task6]     |
+--------------------+     +-------------------+     +-------------------+
          \                    |                    /
           \                   |                   /
                +----------------------------------+
                |        Spark Driver Program     |
                +----------------------------------+
```

> **Wichtig**: *Im Cluster Mode steuert ein Programm viele Maschinen.*  
> **Local Mode simuliert nur ein Mini-Cluster auf deinem Laptop.*

## ‚öôÔ∏è 3. Spark Architecture

In [1]:
from IPython.display import Image

Image(url="https://spark.apache.org/docs/latest/img/cluster-overview.png")

### Spark Architektur: Cluster Overview)

Dieses Diagramm zeigt **wie Spark verteilt arbeitet**:

| Komponente | Beschreibung |
|:---|:---|
| **Driver Program** | Dein Hauptprogramm. Es steuert alles: Job-Aufteilung, Kommunikation, Fehlerbehandlung. |
| **SparkContext** | Die zentrale Verbindung vom Driver zu Spark. Du programmierst damit die Aktionen und Transformationen. |
| **Cluster Manager** | Verwaltet die Ressourcen im Cluster (CPU, RAM). Beispiele: YARN, Kubernetes, Standalone. |
| **Worker Nodes** | Die Maschinen, die die eigentliche Datenverarbeitung √ºbernehmen. |
| **Executor** | Ein Prozess auf einem Worker, der Tasks ausf√ºhrt und Daten im Speicher h√§lt. |
| **Task** | Die kleinste Recheneinheit. Ein Spark-Job wird in viele Tasks aufgeteilt. |
| **Cache** | Zwischenspeicher (RAM) f√ºr Daten, die mehrfach gebraucht werden, damit sie nicht immer neu berechnet werden m√ºssen. |

---

### üî• Wichtig zu verstehen:

- **Driver** ‚Üí Teilt Jobs auf und schickt sie √ºber den **Cluster Manager** an die **Worker Nodes**.
- Jeder **Worker** hat mindestens einen **Executor**, der wiederum mehrere **Tasks** parallel ausf√ºhrt.
- **Caches** sparen Zeit, indem sie Daten im RAM statt auf der Platte halten.

---

### üß† Skeptische Beobachtungen:

- **Single Point of Failure**: Wenn der Driver abst√ºrzt, ist der ganze Job verloren (au√üer du hast High Availability konfiguriert).
- **Ressourcenverschwendung m√∂glich**: Executors brauchen RAM ‚Äì schlecht abgestimmt ‚Üí viele Out-of-Memory-Fehler.
- **Netzwerk Bottleneck**: Schweres Shuffling (viel Datentausch zwischen Workern) kann Spark-Jonehmer nicht einfach abschalten.)

# ‚ú® 4.`SparkSession` als Einstiegspunkt

- In Spark 2.0 und neuer ist **`SparkSession`** der *offizielle Einstiegspunkt* f√ºr jede Spark-Anwendung.
- Fr√ºher musste man `SparkContext`, `SQLContext`, `HiveContext` usw. separat erstellen ‚Äî heute b√ºndelt `SparkSession` alles in einem Objekt.

**Merksatz**:  
> **Ohne SparkSession ‚Üí kein Zugriff auf Spark.**

**Beispiel:**

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Localspark") \
    .master("local[*]") \
    .getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

In [22]:
df = spark.createDataFrame(
    [("Alice", "Engineering", 65000, 28),
    ("Bob", "Marketing", 58000, 32),
    ("Carol", "Engineering", 72000, 35)], 
                           ["name", "department", "salary", "age"])

In [23]:
df.show()

+-----+-----------+------+---+
| name| department|salary|age|
+-----+-----------+------+---+
|Alice|Engineering| 65000| 28|
|  Bob|  Marketing| 58000| 32|
|Carol|Engineering| 72000| 35|
+-----+-----------+------+---+

In [2]:
type(spark)

pyspark.sql.session.SparkSession

In [3]:
type(spark.sparkContext)

pyspark.context.SparkContext

## üÜö 5. DataFrame vs RDD (nur die Basics)

| Feature | DataFrame | RDD |
|:--------|:----------|:----|
| **Definition** | Tabelle mit Spalten und Datentypen (√§hnlich SQL oder Pandas) | Rohes, unstrukturiertes Datenset (verteilte Liste von Objekten) |
| **Benutzerfreundlichkeit** | Hoch ‚Äì SQL-√§hnliche Operationen | Niedrig ‚Äì eigene Map/Reduce-Logik schreiben |
| **Performance** | Optimiert durch Catalyst & Tungsten Engine | Weniger optimiert (du musst dich selbst um Performance k√ºmmern) |
| **Anwendungsfall** | Klassische Datenverarbeitung, Analytics, Machine Learning Pipelines | Low-Level Transformationen, wenn extreme Flexibilit√§t gebraucht wird |

**Skeptische Wahrheit**:  
> Wer heute noch direkt mit RDDs arbeitet, hat meist ein sehr spezielles Problem ‚Äî oder kein Vertrauen in Spark-Optimierungen.

In [27]:
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

# RDD aus Liste erstellen (verteilte Rohdaten)
rdd = sc.parallelize([
    ("M√ºller", 35, "Berlin"),
    ("Schmidt", 28, "M√ºnchen")
])

data = rdd.collect()
print(data)

[('M√ºller', 35, 'Berlin'), ('Schmidt', 28, 'M√ºnchen')]

In [28]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

# DataFrame mit Schema erstellen
df = spark.createDataFrame(
    [("M√ºller", 35, "Berlin"), ("Schmidt", 28, "M√ºnchen")],
    ["Name", "Alter", "Stadt"]
)

df.show()

+-------+-----+-------+
|   Name|Alter|  Stadt|
+-------+-----+-------+
| M√ºller|   35| Berlin|
|Schmidt|   28|M√ºnchen|
+-------+-----+-------+

In [32]:
# Map-Operation (manuelle Transformation)
rdd_mapped = rdd.map(lambda x: (x[0], x[1] * 2))  # Verdopple das Alter
print(rdd_mapped.collect())

[('M√ºller', 70), ('Schmidt', 56)]

In [30]:
# SQL-√§hnliche Operation
df_transformed = df.select("Name", (df.Alter * 2).alias("Doppeltes_Alter"))
df_transformed.show()

+-------+---------------+
|   Name|Doppeltes_Alter|
+-------+---------------+
| M√ºller|             70|
|Schmidt|             56|
+-------+---------------+

In [40]:
# Durchschnittsalter in einem Schritt berechnen
durchschnittsalter = rdd.map(lambda x: (x[1], 1)) \
                       .reduce(lambda a, b: (a[0] + b[0], a[1] + b[1]))

print(durchschnittsalter)
durchschnittsalter = durchschnittsalter[0] / durchschnittsalter[1]
print("Durchschnittsalter:", durchschnittsalter)

(63, 2)
Durchschnittsalter: 31.5

Was passiert Schritt f√ºr Schritt:

    1. Vorbereitung:

        - Ihr RDD enth√§lt nach der map-Operation Paare von (Alter, 1)

        - Beispiel: [(35, 1), (28, 1)]

    2. Erster Reduzierungsschritt:

        - a = (35, 1), b = (28, 1)

        - Die Lambda-Funktion berechnet:

            a[0] + b[0] ‚Üí 35 + 28 ‚Üí 63 (Summe der Alter)

            a[1] + b[1] ‚Üí 1 + 1 ‚Üí 2 (Anzahl der Personen)

        - Ergebnis: (63, 2)

    3. Endergebnis:

        - Da nur zwei Elemente im RDD sind, ist dies das finale Ergebnis

In [42]:
from pyspark.sql import functions as F

df.agg(F.avg("Alter").alias("Durchschnittsalter")).show()

+------------------+
|Durchschnittsalter|
+------------------+
|              31.5|
+------------------+

## üîÑ 6. Lebenszyklus eines DataFrames in Spark

**Was passiert intern?**

1. **Definition**:  
   Du schreibst Transformationen (`select`, `filter`, `join`), aber Spark f√ºhrt *noch nichts* aus.

2. **Logischer Plan**:  
   Spark erstellt einen logischen Ablaufplan (nur eine Beschreibung, noch keine Ausf√ºhrung).

3. **Physikalischer Plan**:  
   Spark optimiert den logischen Plan zu einem ausf√ºhrbaren Programm (z.‚ÄØB. Broadcast Joins, Predicate Pushdown).

4. **Ausf√ºhrung (Action!)**:  
   Erst wenn eine **Action** kommt (`show()`, `collect()`, `write()`) wird der Plan tats√§chlich ausgef√ºhrt ‚Üí *Lazy Execution Prinzip.*

**Grafisch:**

```plaintext
Transformationen -> Logischer Plan -> Optimierter physikalischer Plan -> Task-Ausf√ºhrung
```

## üìä 7. Daten erkunden und transformieren

### Dataframe erstellen

In [49]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DeutscheDaten").getOrCreate()

# DataFrame mit deutschen Spaltennamen erstellen
data = [
    ("M√ºller", 35, "Berlin", 4000),
    ("Schmidt", 28, "M√ºnchen", 3200),
    ("Fischer", 42, "Hamburg", 5100)
]
df = spark.createDataFrame(data, ["Name", "Alter", "Stadt", "Gehalt"])
df.show()

+-------+-----+-------+------+
|   Name|Alter|  Stadt|Gehalt|
+-------+-----+-------+------+
| M√ºller|   35| Berlin|  4000|
|Schmidt|   28|M√ºnchen|  3200|
|Fischer|   42|Hamburg|  5100|
+-------+-----+-------+------+

In [50]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Mit expliziten Datentypen
schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Alter", IntegerType(), True),
    StructField("Stadt", StringType(), True),
    StructField("Gehalt", IntegerType(), True)
])

df_mit_schema = spark.createDataFrame(data, schema)
df_mit_schema.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Alter: integer (nullable = true)
 |-- Stadt: string (nullable = true)
 |-- Gehalt: integer (nullable = true)

In [48]:
df_mit_schema.show()

+-------+-----+-------+------+
|   Name|Alter|  Stadt|Gehalt|
+-------+-----+-------+------+
| M√ºller|   35| Berlin|  4000|
|Schmidt|   28|M√ºnchen|  3200|
|Fischer|   42|Hamburg|  5100|
+-------+-----+-------+------+

### √úbung 1: Grundlegende DataFrame-Erstellung

Aufgabe: Erstelle ein DataFrame mit Mitarbeiterdaten, das folgende Spalten enth√§lt:

    Vorname (z.B. "Anna", "Thomas")
    Abteilung (z.B. "IT", "Vertrieb")
    Eintrittsjahr (z.B. 2015, 2020)

In [51]:
# L√∂sung
mitarbeiter_data = [
    ("Anna", "IT", 2018),
    ("Thomas", "Vertrieb", 2015),
    ("Julia", "HR", 2020)
]
mitarbeiter_df = spark.createDataFrame(mitarbeiter_data, ["Vorname", "Abteilung", "Eintrittsjahr"])
mitarbeiter_df.show()

+-------+---------+-------------+
|Vorname|Abteilung|Eintrittsjahr|
+-------+---------+-------------+
|   Anna|       IT|         2018|
| Thomas| Vertrieb|         2015|
|  Julia|       HR|         2020|
+-------+---------+-------------+

### CSV Lesen

In [52]:
import requests

# Korrekte RAW-URL
url = "https://raw.githubusercontent.com/gadanes/spark_kurs/main/notebooks/data.csv"

# Lade die CSV-Datei herunter
response = requests.get(url)
with open("/tmp/data.csv", "wb") as f:
    f.write(response.content)

# Lese die CSV-Datei mit Spark ein
df = spark.read.option("header", "true").csv("/tmp/data.csv")
df.show()

+-------+---+----------+--------------------+-------------------+------+
|   name|age|      city|               email|          job_title|salary|
+-------+---+----------+--------------------+-------------------+------+
|   Anna| 28|    Berlin|anna.mueller@exam...|       Data Analyst| 52000|
|    Ben| 35|   Hamburg|ben.schmidt@examp...|  Software Engineer| 74000|
|  Clara| 22|    Munich|clara.klein@examp...|Marketing Assistant| 42000|
|  David| 40|   Cologne|david.schneider@e...|    Project Manager| 83000|
|    Eva| 31| Stuttgart|eva.huber@example...|     Data Scientist| 68000|
|  Felix| 29|    Berlin|felix.wagner@exam...|    DevOps Engineer|  NULL|
|   Gina| 45|   Hamburg|gina.fischer@exam...|         HR Manager| 69000|
| Hannah| 26| Frankfurt|hannah.koch@examp...|        UI Designer| 54000|
|   Igor| 38|    Munich|igor.keller@examp...|      Sales Manager| 75000|
|  Julia| 24|D√ºsseldorf|julia.schmitt@exa...|    Content Creator| 41000|
|   Karl| 50|    Berlin|karl.bauer@exampl...|                CTO|120000|
|   Lina| 33| Stuttgart|lina.maier@exampl...|         Accountant| 58000|
|    Max| 41|   Cologne|max.frank@example...|   Network Engineer| 71000|
|   Nina| 30|   Hamburg|nina.lehmann@exam...|      Product Owner|  NULL|
| Oliver| 27|    Berlin|oliver.weber@exam...|  Backend Developer| 67000|
|  Paula| 36|    Munich|paula.hartmann@ex...|   Product Designer| 65000|
|Quentin| 43| Frankfurt|quentin.schulz@ex...|         Consultant| 80000|
|   Rita| 25|D√ºsseldorf|rita.lang@example...|   Junior Developer| 47000|
| Stefan| 39| Stuttgart|stefan.becker@exa...|         IT Support| 56000|
|   Tina| 32|   Cologne|tina.kraus@exampl...|      Data Engineer| 73000|
+-------+---+----------+--------------------+-------------------+------+

### Spalten ausw√§hlen (`select`)

Mit `.select()` kannst du gezielt bestimmte Spalten aus dem DataFrame ausw√§hlen.

**Merke:**  
> `.select()` **ver√§ndert** das urspr√ºngliche DataFrame **nicht**.  
> Es erzeugt eine **neue** Version.

In [19]:
df.select("name", "city", "job_title").show()

+-------+----------+-------------------+
|   name|      city|          job_title|
+-------+----------+-------------------+
|   Anna|    Berlin|       Data Analyst|
|    Ben|   Hamburg|  Software Engineer|
|  Clara|    Munich|Marketing Assistant|
|  David|   Cologne|    Project Manager|
|    Eva| Stuttgart|     Data Scientist|
|  Felix|    Berlin|    DevOps Engineer|
|   Gina|   Hamburg|         HR Manager|
| Hannah| Frankfurt|        UI Designer|
|   Igor|    Munich|      Sales Manager|
|  Julia|D√ºsseldorf|    Content Creator|
|   Karl|    Berlin|                CTO|
|   Lina| Stuttgart|         Accountant|
|    Max|   Cologne|   Network Engineer|
|   Nina|   Hamburg|      Product Owner|
| Oliver|    Berlin|  Backend Developer|
|  Paula|    Munich|   Product Designer|
|Quentin| Frankfurt|         Consultant|
|   Rita|D√ºsseldorf|   Junior Developer|
| Stefan| Stuttgart|         IT Support|
|   Tina|   Cologne|      Data Engineer|
+-------+----------+-------------------+

In [ ]:
df.select("name", "city", "job_title").show()

### Zeilen filtern (`filter`, `where`)

Mit `.filter()` oder `.where()` kannst du Zeilen nach Bedingungen ausw√§hlen.

In [20]:
df.filter(df.age > 30).show()

+-------+---+---------+--------------------+-----------------+------+
|   name|age|     city|               email|        job_title|salary|
+-------+---+---------+--------------------+-----------------+------+
|    Ben| 35|  Hamburg|ben.schmidt@examp...|Software Engineer| 74000|
|  David| 40|  Cologne|david.schneider@e...|  Project Manager| 83000|
|    Eva| 31|Stuttgart|eva.huber@example...|   Data Scientist| 68000|
|   Gina| 45|  Hamburg|gina.fischer@exam...|       HR Manager| 69000|
|   Igor| 38|   Munich|igor.keller@examp...|    Sales Manager| 75000|
|   Karl| 50|   Berlin|karl.bauer@exampl...|              CTO|120000|
|   Lina| 33|Stuttgart|lina.maier@exampl...|       Accountant| 58000|
|    Max| 41|  Cologne|max.frank@example...| Network Engineer| 71000|
|  Paula| 36|   Munich|paula.hartmann@ex...| Product Designer| 65000|
|Quentin| 43|Frankfurt|quentin.schulz@ex...|       Consultant| 80000|
| Stefan| 39|Stuttgart|stefan.becker@exa...|       IT Support| 56000|
|   Tina| 32|  Cologne|tina.kraus@exampl...|    Data Engineer| 73000|
+-------+---+---------+--------------------+-----------------+------+

In [21]:
df.filter(df.salary > 80000).show()

+-----+---+-------+--------------------+---------------+------+
| name|age|   city|               email|      job_title|salary|
+-----+---+-------+--------------------+---------------+------+
|David| 40|Cologne|david.schneider@e...|Project Manager| 83000|
| Karl| 50| Berlin|karl.bauer@exampl...|            CTO|120000|
+-----+---+-------+--------------------+---------------+------+

In [22]:
df.where(df.age > 30).show()

+-------+---+---------+--------------------+-----------------+------+
|   name|age|     city|               email|        job_title|salary|
+-------+---+---------+--------------------+-----------------+------+
|    Ben| 35|  Hamburg|ben.schmidt@examp...|Software Engineer| 74000|
|  David| 40|  Cologne|david.schneider@e...|  Project Manager| 83000|
|    Eva| 31|Stuttgart|eva.huber@example...|   Data Scientist| 68000|
|   Gina| 45|  Hamburg|gina.fischer@exam...|       HR Manager| 69000|
|   Igor| 38|   Munich|igor.keller@examp...|    Sales Manager| 75000|
|   Karl| 50|   Berlin|karl.bauer@exampl...|              CTO|120000|
|   Lina| 33|Stuttgart|lina.maier@exampl...|       Accountant| 58000|
|    Max| 41|  Cologne|max.frank@example...| Network Engineer| 71000|
|  Paula| 36|   Munich|paula.hartmann@ex...| Product Designer| 65000|
|Quentin| 43|Frankfurt|quentin.schulz@ex...|       Consultant| 80000|
| Stefan| 39|Stuttgart|stefan.becker@exa...|       IT Support| 56000|
|   Tina| 32|  Cologne|tina.kraus@exampl...|    Data Engineer| 73000|
+-------+---+---------+--------------------+-----------------+------+

**Hinweis:**  
> **`filter`** und **`where`** sind **identisch** ‚Äì es ist reine Geschmackssache.

### Neue Spalten erstellen (`withColumn`)

In [23]:
from pyspark.sql.functions import col

df = df.withColumn("age_plus_5", col("age") + 5)
df.show()

+-------+---+----------+--------------------+-------------------+------+----------+
|   name|age|      city|               email|          job_title|salary|age_plus_5|
+-------+---+----------+--------------------+-------------------+------+----------+
|   Anna| 28|    Berlin|anna.mueller@exam...|       Data Analyst| 52000|      33.0|
|    Ben| 35|   Hamburg|ben.schmidt@examp...|  Software Engineer| 74000|      40.0|
|  Clara| 22|    Munich|clara.klein@examp...|Marketing Assistant| 42000|      27.0|
|  David| 40|   Cologne|david.schneider@e...|    Project Manager| 83000|      45.0|
|    Eva| 31| Stuttgart|eva.huber@example...|     Data Scientist| 68000|      36.0|
|  Felix| 29|    Berlin|felix.wagner@exam...|    DevOps Engineer|  NULL|      34.0|
|   Gina| 45|   Hamburg|gina.fischer@exam...|         HR Manager| 69000|      50.0|
| Hannah| 26| Frankfurt|hannah.koch@examp...|        UI Designer| 54000|      31.0|
|   Igor| 38|    Munich|igor.keller@examp...|      Sales Manager| 75000|      43.0|
|  Julia| 24|D√ºsseldorf|julia.schmitt@exa...|    Content Creator| 41000|      29.0|
|   Karl| 50|    Berlin|karl.bauer@exampl...|                CTO|120000|      55.0|
|   Lina| 33| Stuttgart|lina.maier@exampl...|         Accountant| 58000|      38.0|
|    Max| 41|   Cologne|max.frank@example...|   Network Engineer| 71000|      46.0|
|   Nina| 30|   Hamburg|nina.lehmann@exam...|      Product Owner|  NULL|      35.0|
| Oliver| 27|    Berlin|oliver.weber@exam...|  Backend Developer| 67000|      32.0|
|  Paula| 36|    Munich|paula.hartmann@ex...|   Product Designer| 65000|      41.0|
|Quentin| 43| Frankfurt|quentin.schulz@ex...|         Consultant| 80000|      48.0|
|   Rita| 25|D√ºsseldorf|rita.lang@example...|   Junior Developer| 47000|      30.0|
| Stefan| 39| Stuttgart|stefan.becker@exa...|         IT Support| 56000|      44.0|
|   Tina| 32|   Cologne|tina.kraus@exampl...|      Data Engineer| 73000|      37.0|
+-------+---+----------+--------------------+-------------------+------+----------+

**Wichtig:**  
> Jede `.withColumn()`-Operation erstellt **intern ein neues DataFrame** ‚Äî Spark ver√§ndert nie das Originalobjekt direkt.

### Bedingte Logik (`when`, `otherwise`)

Mit `when` und `otherwise` kannst du **Bedingungen** einbauen, √§hnlich wie `if-else`.

In [33]:
from pyspark.sql.functions import when

df = df.withColumn(
    "income_category",
    when(col("salary") >= 80000, "Hochverdiener")
    .when((col("salary") >= 43000) & (col("salary") < 80000), "Normalverdiener")
    .otherwise("Geringverdiener")
)
df.show()

+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|   name|age|      city|               email|          job_title|salary|age_plus_5|income_category|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|   Anna| 28|    Berlin|anna.mueller@exam...|       Data Analyst| 52000|      33.0|Normalverdiener|
|    Ben| 35|   Hamburg|ben.schmidt@examp...|  Software Engineer| 74000|      40.0|Normalverdiener|
|  Clara| 22|    Munich|clara.klein@examp...|Marketing Assistant| 42000|      27.0|Geringverdiener|
|  David| 40|   Cologne|david.schneider@e...|    Project Manager| 83000|      45.0|  Hochverdiener|
|    Eva| 31| Stuttgart|eva.huber@example...|     Data Scientist| 68000|      36.0|Normalverdiener|
|  Felix| 29|    Berlin|felix.wagner@exam...|    DevOps Engineer|  NULL|      34.0|Geringverdiener|
|   Gina| 45|   Hamburg|gina.fischer@exam...|         HR Manager| 69000|      50.0|Normalverdiener|
| Hannah| 26| Frankfurt|hannah.koch@examp...|        UI Designer| 54000|      31.0|Normalverdiener|
|   Igor| 38|    Munich|igor.keller@examp...|      Sales Manager| 75000|      43.0|Normalverdiener|
|  Julia| 24|D√ºsseldorf|julia.schmitt@exa...|    Content Creator| 41000|      29.0|Geringverdiener|
|   Karl| 50|    Berlin|karl.bauer@exampl...|                CTO|120000|      55.0|  Hochverdiener|
|   Lina| 33| Stuttgart|lina.maier@exampl...|         Accountant| 58000|      38.0|Normalverdiener|
|    Max| 41|   Cologne|max.frank@example...|   Network Engineer| 71000|      46.0|Normalverdiener|
|   Nina| 30|   Hamburg|nina.lehmann@exam...|      Product Owner|  NULL|      35.0|Geringverdiener|
| Oliver| 27|    Berlin|oliver.weber@exam...|  Backend Developer| 67000|      32.0|Normalverdiener|
|  Paula| 36|    Munich|paula.hartmann@ex...|   Product Designer| 65000|      41.0|Normalverdiener|
|Quentin| 43| Frankfurt|quentin.schulz@ex...|         Consultant| 80000|      48.0|  Hochverdiener|
|   Rita| 25|D√ºsseldorf|rita.lang@example...|   Junior Developer| 47000|      30.0|Normalverdiener|
| Stefan| 39| Stuttgart|stefan.becker@exa...|         IT Support| 56000|      44.0|Normalverdiener|
|   Tina| 32|   Cologne|tina.kraus@exampl...|      Data Engineer| 73000|      37.0|Normalverdiener|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+

**Merke:**  
> Viele verschachtelte `when`-Bedingungen k√∂nnen un√ºbersichtlich werden ‚Üí sauber strukturieren!

### Umgang mit fehlenden Werten (`fillna`, `dropna`)

In [30]:
# Fehlende Werte f√ºllen (`fillna`):
# Ersetzt fehlende Geh√§lter durch 50000
df_filled = df.fillna({"salary": 50000})
df_filled.show()

+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|   name|age|      city|               email|          job_title|salary|age_plus_5|income_category|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|   Anna| 28|    Berlin|anna.mueller@exam...|       Data Analyst| 52000|      33.0|Normalverdiener|
|    Ben| 35|   Hamburg|ben.schmidt@examp...|  Software Engineer| 74000|      40.0|Normalverdiener|
|  Clara| 22|    Munich|clara.klein@examp...|Marketing Assistant| 42000|      27.0|Geringverdiener|
|  David| 40|   Cologne|david.schneider@e...|    Project Manager| 83000|      45.0|  Hochverdiener|
|    Eva| 31| Stuttgart|eva.huber@example...|     Data Scientist| 68000|      36.0|Normalverdiener|
|  Felix| 29|    Berlin|felix.wagner@exam...|    DevOps Engineer| 50000|      34.0|Geringverdiener|
|   Gina| 45|   Hamburg|gina.fischer@exam...|         HR Manager| 69000|      50.0|Normalverdiener|
| Hannah| 26| Frankfurt|hannah.koch@examp...|        UI Designer| 54000|      31.0|Normalverdiener|
|   Igor| 38|    Munich|igor.keller@examp...|      Sales Manager| 75000|      43.0|Normalverdiener|
|  Julia| 24|D√ºsseldorf|julia.schmitt@exa...|    Content Creator| 41000|      29.0|Geringverdiener|
|   Karl| 50|    Berlin|karl.bauer@exampl...|                CTO|120000|      55.0|  Hochverdiener|
|   Lina| 33| Stuttgart|lina.maier@exampl...|         Accountant| 58000|      38.0|Normalverdiener|
|    Max| 41|   Cologne|max.frank@example...|   Network Engineer| 71000|      46.0|Normalverdiener|
|   Nina| 30|   Hamburg|nina.lehmann@exam...|      Product Owner| 50000|      35.0|Geringverdiener|
| Oliver| 27|    Berlin|oliver.weber@exam...|  Backend Developer| 67000|      32.0|Normalverdiener|
|  Paula| 36|    Munich|paula.hartmann@ex...|   Product Designer| 65000|      41.0|Normalverdiener|
|Quentin| 43| Frankfurt|quentin.schulz@ex...|         Consultant| 80000|      48.0|  Hochverdiener|
|   Rita| 25|D√ºsseldorf|rita.lang@example...|   Junior Developer| 47000|      30.0|Geringverdiener|
| Stefan| 39| Stuttgart|stefan.becker@exa...|         IT Support| 56000|      44.0|Normalverdiener|
|   Tina| 32|   Cologne|tina.kraus@exampl...|      Data Engineer| 73000|      37.0|Normalverdiener|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+

In [29]:
# Zeilen mit fehlenden Werten l√∂schen (`dropna`):
# Entfernt alle Zeilen, die mindestens einen `null`-Wert enthalten.
df_clean = df.dropna()
df_clean.show()

+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|   name|age|      city|               email|          job_title|salary|age_plus_5|income_category|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|   Anna| 28|    Berlin|anna.mueller@exam...|       Data Analyst| 52000|      33.0|Normalverdiener|
|    Ben| 35|   Hamburg|ben.schmidt@examp...|  Software Engineer| 74000|      40.0|Normalverdiener|
|  Clara| 22|    Munich|clara.klein@examp...|Marketing Assistant| 42000|      27.0|Geringverdiener|
|  David| 40|   Cologne|david.schneider@e...|    Project Manager| 83000|      45.0|  Hochverdiener|
|    Eva| 31| Stuttgart|eva.huber@example...|     Data Scientist| 68000|      36.0|Normalverdiener|
|   Gina| 45|   Hamburg|gina.fischer@exam...|         HR Manager| 69000|      50.0|Normalverdiener|
| Hannah| 26| Frankfurt|hannah.koch@examp...|        UI Designer| 54000|      31.0|Normalverdiener|
|   Igor| 38|    Munich|igor.keller@examp...|      Sales Manager| 75000|      43.0|Normalverdiener|
|  Julia| 24|D√ºsseldorf|julia.schmitt@exa...|    Content Creator| 41000|      29.0|Geringverdiener|
|   Karl| 50|    Berlin|karl.bauer@exampl...|                CTO|120000|      55.0|  Hochverdiener|
|   Lina| 33| Stuttgart|lina.maier@exampl...|         Accountant| 58000|      38.0|Normalverdiener|
|    Max| 41|   Cologne|max.frank@example...|   Network Engineer| 71000|      46.0|Normalverdiener|
| Oliver| 27|    Berlin|oliver.weber@exam...|  Backend Developer| 67000|      32.0|Normalverdiener|
|  Paula| 36|    Munich|paula.hartmann@ex...|   Product Designer| 65000|      41.0|Normalverdiener|
|Quentin| 43| Frankfurt|quentin.schulz@ex...|         Consultant| 80000|      48.0|  Hochverdiener|
|   Rita| 25|D√ºsseldorf|rita.lang@example...|   Junior Developer| 47000|      30.0|Geringverdiener|
| Stefan| 39| Stuttgart|stefan.becker@exa...|         IT Support| 56000|      44.0|Normalverdiener|
|   Tina| 32|   Cologne|tina.kraus@exampl...|      Data Engineer| 73000|      37.0|Normalverdiener|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+

### Gruppieren und Aggregieren (`groupBy` + `agg`)

Mit `.groupBy()` kannst du dein DataFrame nach einer oder mehreren Spalten **gruppieren**.  
Mit `.agg()` kannst du dann **Aggregationfunktionen** auf jede Gruppe anwenden.

In [35]:
from pyspark.sql import functions as F

#Durchschnitt berechnen
df.groupBy("city").agg(F.avg("salary")).show()

+----------+------------------+
|      city|       avg(salary)|
+----------+------------------+
| Frankfurt|           67000.0|
|    Berlin| 79666.66666666667|
|D√ºsseldorf|           44000.0|
|   Hamburg|           71500.0|
| Stuttgart|60666.666666666664|
|   Cologne| 75666.66666666667|
|    Munich|60666.666666666664|
+----------+------------------+

In [36]:
#Z√§hlt die Anzahl der Eintr√§ge
df.groupBy("city").count().show()

+----------+-----+
|      city|count|
+----------+-----+
| Frankfurt|    2|
|    Berlin|    4|
|D√ºsseldorf|    2|
|   Hamburg|    3|
| Stuttgart|    3|
|   Cologne|    3|
|    Munich|    3|
+----------+-----+

In [37]:
#Summiert Werte einer Spalte
df.groupBy("city").agg(F.sum("salary")).show()

+----------+-----------+
|      city|sum(salary)|
+----------+-----------+
| Frankfurt|   134000.0|
|    Berlin|   239000.0|
|D√ºsseldorf|    88000.0|
|   Hamburg|   143000.0|
| Stuttgart|   182000.0|
|   Cologne|   227000.0|
|    Munich|   182000.0|
+----------+-----------+

**Wichtig zu wissen:**  
> `.groupBy()` alleine macht noch nichts. Erst `.agg()`, `.count()`, `.sum()` oder `.avg()` l√∂sen die echte Berechnung aus.

### Sortieren und Reihenfolge √§ndern (`orderBy`, `sort`)

Mit `.orderBy()` oder `.sort()` kannst du dein DataFrame sortieren.

In [39]:
#Nach Gehalt absteigend sortieren
df.orderBy(F.desc("salary")).show()

+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|   name|age|      city|               email|          job_title|salary|age_plus_5|income_category|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|  David| 40|   Cologne|david.schneider@e...|    Project Manager| 83000|      45.0|  Hochverdiener|
|Quentin| 43| Frankfurt|quentin.schulz@ex...|         Consultant| 80000|      48.0|  Hochverdiener|
|   Igor| 38|    Munich|igor.keller@examp...|      Sales Manager| 75000|      43.0|Normalverdiener|
|    Ben| 35|   Hamburg|ben.schmidt@examp...|  Software Engineer| 74000|      40.0|Normalverdiener|
|   Tina| 32|   Cologne|tina.kraus@exampl...|      Data Engineer| 73000|      37.0|Normalverdiener|
|    Max| 41|   Cologne|max.frank@example...|   Network Engineer| 71000|      46.0|Normalverdiener|
|   Gina| 45|   Hamburg|gina.fischer@exam...|         HR Manager| 69000|      50.0|Normalverdiener|
|    Eva| 31| Stuttgart|eva.huber@example...|     Data Scientist| 68000|      36.0|Normalverdiener|
| Oliver| 27|    Berlin|oliver.weber@exam...|  Backend Developer| 67000|      32.0|Normalverdiener|
|  Paula| 36|    Munich|paula.hartmann@ex...|   Product Designer| 65000|      41.0|Normalverdiener|
|   Lina| 33| Stuttgart|lina.maier@exampl...|         Accountant| 58000|      38.0|Normalverdiener|
| Stefan| 39| Stuttgart|stefan.becker@exa...|         IT Support| 56000|      44.0|Normalverdiener|
| Hannah| 26| Frankfurt|hannah.koch@examp...|        UI Designer| 54000|      31.0|Normalverdiener|
|   Anna| 28|    Berlin|anna.mueller@exam...|       Data Analyst| 52000|      33.0|Normalverdiener|
|   Rita| 25|D√ºsseldorf|rita.lang@example...|   Junior Developer| 47000|      30.0|Normalverdiener|
|  Clara| 22|    Munich|clara.klein@examp...|Marketing Assistant| 42000|      27.0|Geringverdiener|
|  Julia| 24|D√ºsseldorf|julia.schmitt@exa...|    Content Creator| 41000|      29.0|Geringverdiener|
|   Karl| 50|    Berlin|karl.bauer@exampl...|                CTO|120000|      55.0|  Hochverdiener|
|  Felix| 29|    Berlin|felix.wagner@exam...|    DevOps Engineer|  NULL|      34.0|Geringverdiener|
|   Nina| 30|   Hamburg|nina.lehmann@exam...|      Product Owner|  NULL|      35.0|Geringverdiener|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+

In [38]:
# Oder aufsteigend (Standard)
df.orderBy("age").show()

+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|   name|age|      city|               email|          job_title|salary|age_plus_5|income_category|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+
|  Clara| 22|    Munich|clara.klein@examp...|Marketing Assistant| 42000|      27.0|Geringverdiener|
|  Julia| 24|D√ºsseldorf|julia.schmitt@exa...|    Content Creator| 41000|      29.0|Geringverdiener|
|   Rita| 25|D√ºsseldorf|rita.lang@example...|   Junior Developer| 47000|      30.0|Normalverdiener|
| Hannah| 26| Frankfurt|hannah.koch@examp...|        UI Designer| 54000|      31.0|Normalverdiener|
| Oliver| 27|    Berlin|oliver.weber@exam...|  Backend Developer| 67000|      32.0|Normalverdiener|
|   Anna| 28|    Berlin|anna.mueller@exam...|       Data Analyst| 52000|      33.0|Normalverdiener|
|  Felix| 29|    Berlin|felix.wagner@exam...|    DevOps Engineer|  NULL|      34.0|Geringverdiener|
|   Nina| 30|   Hamburg|nina.lehmann@exam...|      Product Owner|  NULL|      35.0|Geringverdiener|
|    Eva| 31| Stuttgart|eva.huber@example...|     Data Scientist| 68000|      36.0|Normalverdiener|
|   Tina| 32|   Cologne|tina.kraus@exampl...|      Data Engineer| 73000|      37.0|Normalverdiener|
|   Lina| 33| Stuttgart|lina.maier@exampl...|         Accountant| 58000|      38.0|Normalverdiener|
|    Ben| 35|   Hamburg|ben.schmidt@examp...|  Software Engineer| 74000|      40.0|Normalverdiener|
|  Paula| 36|    Munich|paula.hartmann@ex...|   Product Designer| 65000|      41.0|Normalverdiener|
|   Igor| 38|    Munich|igor.keller@examp...|      Sales Manager| 75000|      43.0|Normalverdiener|
| Stefan| 39| Stuttgart|stefan.becker@exa...|         IT Support| 56000|      44.0|Normalverdiener|
|  David| 40|   Cologne|david.schneider@e...|    Project Manager| 83000|      45.0|  Hochverdiener|
|    Max| 41|   Cologne|max.frank@example...|   Network Engineer| 71000|      46.0|Normalverdiener|
|Quentin| 43| Frankfurt|quentin.schulz@ex...|         Consultant| 80000|      48.0|  Hochverdiener|
|   Gina| 45|   Hamburg|gina.fischer@exam...|         HR Manager| 69000|      50.0|Normalverdiener|
|   Karl| 50|    Berlin|karl.bauer@exampl...|                CTO|120000|      55.0|  Hochverdiener|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+

In [ ]:
## üîÉ Sortieren und Reihenfolge √§ndern (`orderBy`, `sort`)

Mit `.orderBy()` oder `.sort()` kannst du dein DataFrame sortieren.

**Beispiel: Nach Gehalt absteigend sortieren:**

```python
df.orderBy(F.desc("salary")).show()
```

**Oder aufsteigend (Standard):**

```python
df.orderBy("age").show()

**Hinweis:**  
> `orderBy` und `sort` sind **gleichwertig**.  
> Bei riesigen DataFrames kann Sortieren teuer werden ‚Üí vorsichtig einsetzen!

### Window Functions

Window Functions erlauben dir, √ºber eine **Teilmenge** deiner Daten zu arbeiten, **ohne** sie vollst√§ndig zu aggregieren.

In [40]:
from pyspark.sql.window import Window

window_spec = Window.partitionBy("city").orderBy(F.desc("salary"))

df = df.withColumn("rank_in_city", F.rank().over(window_spec))
df.show()

+-------+---+----------+--------------------+-------------------+------+----------+---------------+------------+
|   name|age|      city|               email|          job_title|salary|age_plus_5|income_category|rank_in_city|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+------------+
| Oliver| 27|    Berlin|oliver.weber@exam...|  Backend Developer| 67000|      32.0|Normalverdiener|           1|
|   Anna| 28|    Berlin|anna.mueller@exam...|       Data Analyst| 52000|      33.0|Normalverdiener|           2|
|   Karl| 50|    Berlin|karl.bauer@exampl...|                CTO|120000|      55.0|  Hochverdiener|           3|
|  Felix| 29|    Berlin|felix.wagner@exam...|    DevOps Engineer|  NULL|      34.0|Geringverdiener|           4|
|  David| 40|   Cologne|david.schneider@e...|    Project Manager| 83000|      45.0|  Hochverdiener|           1|
|   Tina| 32|   Cologne|tina.kraus@exampl...|      Data Engineer| 73000|      37.0|Normalverdiener|           2|
|    Max| 41|   Cologne|max.frank@example...|   Network Engineer| 71000|      46.0|Normalverdiener|           3|
|   Rita| 25|D√ºsseldorf|rita.lang@example...|   Junior Developer| 47000|      30.0|Normalverdiener|           1|
|  Julia| 24|D√ºsseldorf|julia.schmitt@exa...|    Content Creator| 41000|      29.0|Geringverdiener|           2|
|Quentin| 43| Frankfurt|quentin.schulz@ex...|         Consultant| 80000|      48.0|  Hochverdiener|           1|
| Hannah| 26| Frankfurt|hannah.koch@examp...|        UI Designer| 54000|      31.0|Normalverdiener|           2|
|    Ben| 35|   Hamburg|ben.schmidt@examp...|  Software Engineer| 74000|      40.0|Normalverdiener|           1|
|   Gina| 45|   Hamburg|gina.fischer@exam...|         HR Manager| 69000|      50.0|Normalverdiener|           2|
|   Nina| 30|   Hamburg|nina.lehmann@exam...|      Product Owner|  NULL|      35.0|Geringverdiener|           3|
|   Igor| 38|    Munich|igor.keller@examp...|      Sales Manager| 75000|      43.0|Normalverdiener|           1|
|  Paula| 36|    Munich|paula.hartmann@ex...|   Product Designer| 65000|      41.0|Normalverdiener|           2|
|  Clara| 22|    Munich|clara.klein@examp...|Marketing Assistant| 42000|      27.0|Geringverdiener|           3|
|    Eva| 31| Stuttgart|eva.huber@example...|     Data Scientist| 68000|      36.0|Normalverdiener|           1|
|   Lina| 33| Stuttgart|lina.maier@exampl...|         Accountant| 58000|      38.0|Normalverdiener|           2|
| Stefan| 39| Stuttgart|stefan.becker@exa...|         IT Support| 56000|      44.0|Normalverdiener|           3|
+-------+---+----------+--------------------+-------------------+------+----------+---------------+------------+

25/04/29 08:00:42 ERROR Inbox: Ignoring error
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.SparkThreadUtils$.awaitResult(SparkThreadUtils.scala:56)
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:310)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRefByURI(RpcEnv.scala:102)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRef(RpcEnv.scala:110)
	at org.apache.spark.util.RpcUtils$.makeDriverRef(RpcUtils.scala:36)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.driverEndpoint$lzycompute(BlockManagerMasterEndpoint.scala:124)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$driverEndpoint(BlockManagerMasterEndpoint.scala:123)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.isExecutorAlive$lzycompute$1(BlockManagerMasterEndpoint.scala:688)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.isExecutorAlive$1(BlockManagerMasterEndpoint.scala:687)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:725)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:133)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.rpc.RpcEndpointNotFoundException: Cannot find endpoint: spark://CoarseGrainedScheduler@baf44cee0c18:38801
	at org.apache.spark.rpc.netty.NettyRpcEnv.$anonfun$asyncSetupEndpointRefByURI$1(NettyRpcEnv.scala:148)
	at org.apache.spark.rpc.netty.NettyRpcEnv.$anonfun$asyncSetupEndpointRefByURI$1$adapted(NettyRpcEnv.scala:144)
	at scala.concurrent.Future.$anonfun$flatMap$1(Future.scala:307)
	at scala.concurrent.impl.Promise.$anonfun$transformWith$1(Promise.scala:41)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:64)
	at org.apache.spark.util.ThreadUtils$$anon$1.execute(ThreadUtils.scala:99)
	at scala.concurrent.impl.ExecutionContextImpl$$anon$4.execute(ExecutionContextImpl.scala:138)
	at scala.concurrent.impl.CallbackRunnable.executeWithValue(Promise.scala:72)
	at scala.concurrent.impl.Promise$DefaultPromise.dispatchOrAddCallback(Promise.scala:316)
	at scala.concurrent.impl.Promise$DefaultPromise.onComplete(Promise.scala:307)
	at scala.concurrent.impl.Promise.transformWith(Promise.scala:40)
	at scala.concurrent.impl.Promise.transformWith$(Promise.scala:38)
	at scala.concurrent.impl.Promise$DefaultPromise.transformWith(Promise.scala:187)
	at scala.concurrent.Future.flatMap(Future.scala:306)
	at scala.concurrent.Future.flatMap$(Future.scala:306)
	at scala.concurrent.impl.Promise$DefaultPromise.flatMap(Promise.scala:187)
	at org.apache.spark.rpc.netty.NettyRpcEnv.asyncSetupEndpointRefByURI(NettyRpcEnv.scala:150)
	... 17 more
25/04/29 08:00:51 ERROR Inbox: Ignoring error
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.SparkThreadUtils$.awaitResult(SparkThreadUtils.scala:56)
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:310)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRefByURI(RpcEnv.scala:102)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRef(RpcEnv.scala:110)
	at org.apache.spark.util.RpcUtils$.makeDriverRef(RpcUtils.scala:36)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.driverEndpoint$lzycompute(BlockManagerMasterEndpoint.scala:124)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$driverEndpoint(BlockManagerMasterEndpoint.scala:123)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.isExecutorAlive$lzycompute$1(BlockManagerMasterEndpoint.scala:688)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.isExecutorAlive$1(BlockManagerMasterEndpoint.scala:687)
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:725)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:133)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.rpc.RpcEndpointNotFoundException: Cannot find endpoint: spark://CoarseGrainedScheduler@baf44cee0c18:38801
	at org.apache.spark.rpc.netty.NettyRpcEnv.$anonfun$asyncSetupEndpointRefByURI$1(NettyRpcEnv.scala:148)
	at org.apache.spark.rpc.netty.NettyRpcEnv.$anonfun$asyncSetupEndpointRefByURI$1$adapted(NettyRpcEnv.scala:144)
	at scala.concurrent.Future.$anonfun$flatMap$1(Future.scala:307)
	at scala.concurrent.impl.Promise.$anonfun$transformWith$1(Promise.scala:41)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:64)
	at org.apache.spark.util.ThreadUtils$$anon$1.execute(ThreadUtils.scala:99)
	at scala.concurrent.impl.ExecutionContextImpl$$anon$4.execute(ExecutionContextImpl.scala:138)
	at scala.concurrent.impl.CallbackRunnable.executeWithValue(Promise.scala:72)
	at scala.concurrent.impl.Promise$DefaultPromise.dispatchOrAddCallback(Promise.scala:316)
	at scala.concurrent.impl.Promise$DefaultPromise.onComplete(Promise.scala:307)
	at scala.concurrent.impl.Promise.transformWith(Promise.scala:40)
	at scala.concurrent.impl.Promise.transformWith$(Promise.scala:38)
	at scala.concurrent.impl.Promise$DefaultPromise.transformWith(Promise.scala:187)
	at scala.concurrent.Future.flatMap(Future.scala:306)
	at scala.concurrent.Future.flatMap$(Future.scala:306)
	at scala.concurrent.impl.Promise$DefaultPromise.flatMap(Promise.scala:187)
	at org.apache.spark.rpc.netty.NettyRpcEnv.asyncSetupEndpointRefByURI(NettyRpcEnv.scala:150)
	... 17 more

### Lesen von Azure Datenbank

In [ ]:
from pyspark.sql import SparkSession
from dotenv import load_dotenv
import os

spark = SparkSession.builder \
    .appName("Localspark") \
    .master("local[*]") \
    .config("spark.jars.packages",
        "com.microsoft.sqlserver:mssql-jdbc:12.6.1.jre11") \
    .getOrCreate()
spark.sparkContext.setLogLevel("ERROR")